@page
@model TheClub.ProdutosCrud.DeleteModel

@{
    ViewData["Title"] = "`Deletar";
}

<h1>@ViewData["Title"]</h1>

<h3>Deseja mesmo excluir este produto?</h3>
<div>
    <h4><b>Código:</b>@Model.Produto.iDProduto.ToString("D6")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.iDNome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.iDNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.estoque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.estoque)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Produto.iDProduto" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
